/* Fonts */

@font-face {
  font-family: "coolvetica";
  src: url("fonts/Coolvetica.ttf");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("fonts/CoolveticaLt-Regular.otf");
}

@font-face {
  font-family: "Averta";
  src: url("fonts/Averta-Bold.ttf");
}

/* Body */

.principal-navbar {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}

.logoheader {
  width: 150px;
}

@media (max-width: 575.98px) {
  .img-logo {
    width: 150px;
  }
}

.main-logo {
  width: 100px;
  height: auto;
  margin-left: 50px;
}

@media (min-width: 1400px) {
  .main-logo {
    width: 150px !important;
  }
}

.logo-vinix {
  position: fixed;
  top: 48.5vh;
  left: -1.3vw;
  width: 7.14286%;
  padding-right: 16px;
  z-index: 100;
  transition-duration: 0.5s;
  transition-property: all;
}

.logo-vinix:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

@media (max-width: 1199.98px) {
  .logo-vinix {
    display: none !important;
  }
}

.menu-vinix {
  width: 40px;
  height: 18px;
  position: fixed;
  top: 48vh;
  right: 3.7vw;
  z-index: 110;
  margin: 20px;
}

@media (max-width: 1199.98px) {
  .menu-vinix {
    display: none !important;
  }
}

.fixed-menu {
  width: 25px;
  height: auto;
  margin-right: 50px;
  margin-left: 60px;
  transition-duration: 0.5s;
  transition-property: all;
}

.fixed-menu:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

h2 {
  font-family: "Averta";
}

.img-navbar {
  width: 120px;
  padding: 10px;
}

.idioms-two {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 7.14286%;
  padding-right: 16px;
  z-index: 100;
}

@media (max-width: 1200px) {
  .idioms-two {
    display: none;
  }
}

.translate-one {
  width: 20px;
  cursor: pointer;
  display: flex;
  flex-flow: wrap;
}

@media (min-width: 374px) {
  .translate-one {
    width: 0px;
  }
}

.img-idioms-one {
  width: 40px;
}

.translate {
  width: 50px;
  cursor: pointer;
  display: flex;
  flex-flow: wrap;
}

.img-idioms {
  width: 35px;
  transition-duration: 0.5s;
  transition-property: all;
}

.img-idioms:hover {
  transform: scale(1.4, 1.4);
}
/* Menú Principal */

@media (min-width: 1199.98px) {
  .navbar-responsive {
    display: none !important;
  }
}
@media (min-width: 1199.98px) {
  .navbar-responsive {
    display: none !important;
  }
}
.navbar-responsive {
  background-color: black;
}

.x-menu {
  width: 20px;
  margin-bottom: 30px;
  display: flex;
}

@media (min-width: 1199.98px) {
  .x-menu {
    display: none !important;
  }
}

@media (min-width: 575.98px) {
  .x-menu {
    width: 30px !important;
  }
}

.main-menu {
  background-color: white;
  height: 100%;
  width: 80%;
  float: right;
  box-shadow: #2d2d2d 0px 0px 20px;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  transition: all ease-in-out;
  transition-duration: 0.35s;
}

.main-menu a {
  color: #2d2d2d;
  text-decoration: none !important;
}

.main-menu a:hover {
  color: rgb(255, 196, 0);
}

.group-menu {
  display: flex;
  align-items: center;
  flex-flow: column;
  align-items: flex-start;
}

.texto-menu {
  font-family: "Averta";
  font-size: 40px;
}

@media (min-width: 575.98px) {
  .texto-menu {
    font-size: 50px !important;
    padding-right: 100px;
  }
}

@media (min-width: 768px) {
  .texto-menu {
    font-size: 70px !important;
    padding-right: 100px;
  }
}

@media (min-width: 991.98px) {
  .texto-menu {
    font-size: 80px;
    padding-right: 150px;
  }
}

@media (min-width: 1200px) {
  .texto-menu {
    font-size: 80px;
    padding-left: 100px;
  }
}

.group-icons {
  display: flex;
}

.icons-menu {
  width: 30px;
  height: 30px;
  display: flex;
}

.address-group {
  display: flex;
  flex-flow: column;
}

@media (min-width: 1400px) {
  .address-group {
    margin-left: 200px;
  }
}

.address {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.menu-sas {
  font-family: "Averta";
}

.adress-text {
  font-size: 15px;
  width: 200px;
}

/* Menu functions */

#nav-menu-slide {
  position: fixed;
  right: 0;
  z-index: 100;
}

.navbar-coll-menu {
  position: absolute;
  top: 0px;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 85%;
}

.navbar-collapse.collapsing {
  transition: all ease-in-out;
  transition-duration: 0.35s;
  transform-origin: right;
}

.navbar-collapse.show {
  transition: all ease-in-out;
  transition-duration: 0.35s;
  transform-origin: right;
}

.principal-index {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 992px) {
  .principal-index {
    height: auto !important;
  }
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-index {
  width: 100vmax;
}

.initial-image {
  width: 100%;
  height: auto;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  z-index: 1 !important;
}

.circle {
  width: 200px;
  height: auto;
  margin: 10px;
  transition-duration: 1s;
  transition-property: all;
}

.circle:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

@media (min-width: 768px) {
  .circile {
    width: 300px !important;
  }
}

@media (min-width: 991.98px) {
  .circle {
    width: 400px !important;
  }
}

.text-one {
  width: 200px;
  height: auto;
  margin: 10px;
  transition-duration: 0.2s;
  transition-property: all;
}

.text-one:hover {
  transform: rotate(4deg);
  cursor: pointer;
}

@media (min-width: 768px) {
  .text-one {
    width: 250px !important;
  }
}

@media (min-width: 991.98px) {
  .text-one {
    width: 350px !important;
  }
}

/* Sección 2 */

.seccion-2 {
  background-color: black;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap-reverse;
  align-items: center;
}

@media (min-width: 1200px) {
  .seccion-2 {
    display: flex;
    flex-flow: wrap;
  }
}

@media (max-width: 1400px) {
  .seccion-2 {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1400px) {
  .seccion-2 {
    width: 100% !important;
    height: auto !important;
  }
}

.seccion-2-services {
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: flex-start;
}

@media (min-width: 1200px) {
  .seccion-2-services {
    display: flex;
    flex-flow: wrap;
  }
}

@media (max-width: 1400px) {
  .seccion-2-services {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1400px) {
  .seccion-2-services {
    width: 100% !important;
    height: auto !important;
  }
}

.container-service-3-4 {
  background: rgb(235, 0, 0);
  background: radial-gradient(
    circle,
    rgba(235, 0, 0, 1) 0%,
    rgba(128, 0, 0, 1) 100%
  );
}

.seccion-3-services {
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

@media (max-width: 1400px) {
  .seccion-3-services {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1400px) {
  .seccion-3-services {
    width: 100% !important;
    height: auto !important;
  }
}

.title-services-text-3-container {
  width: auto;
}

@media (min-width: 1200px) {
  .title-services-text-3-container {
    width: 70% !important;
  }
}

.title-services-text {
  color: #f4d178 !important;
  font-family: "Averta";
}

.title-services-text-3 {
  color: #f4d178 !important;
  font-family: "Averta";
  font-size: 40px;
  text-align: center;
}

@media (min-width: 992px) {
  .title-services-text-3 {
    font-size: 60px;
  }
}

.services-text {
  padding: 20px;
  width: 350px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 992px) {
  .services-text {
    width: 200px;
  }
}

@media (min-width: 1400px) {
  .services-text {
    width: 300px;
  }
}

.list-services-3 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 30px;
  flex-flow: wrap;
}

.list-alone {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 40px;
}

.how-description {
  font-family: "Open Sans", sans-serif;
  width: 90%;
}

.seccion-title-how {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-how {
  color: #f4d178;
  font-size: 55px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.all-text-services-4 {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: flex-start;
  padding-bottom: 40px;
}

.seccion-4-services {
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .seccion-4-services {
    display: flex;
  }
}

@media (max-width: 1400px) {
  .seccion-4-services {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1400px) {
  .seccion-4-services {
    width: 100% !important;
    height: auto !important;
  }
}

.img-service {
  width: 80%;
  height: auto;
  margin: 80px;
}

@media (max-width: 992px) {
  .img-service {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}

@media (min-width: 768px) {
  .img-service {
    width: 600px !important;
  }
}

@media (min-width: 992px) {
  .img-service {
    width: 300px !important;
  }
}

.title-services {
  color: #f4d178;
  font-family: "Averta";
  font-size: 40px;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .title-services {
    margin-top: 150px !important;
  }
}

@media (min-width: 575.98px) {
  .title-services {
    font-size: 80px !important;
  }
}

.text-services {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
}

@media (min-width: 991.98px) {
  .text-services {
    width: 700px !important;
  }
}

@media (min-width: 1400px) {
  .text-services {
    width: 600px !important;
  }
}

.video-services {
  width: 100%;
  padding-top: 50px;
}

@media (max-width: 991.98px) {
  .video-services {
    width: 100% !important;
    margin-bottom: 40px;
  }
}

@media (min-width: 991.98px) {
  .video-services {
    width: 300px !important;
    padding-left: 100px;
  }
}

@media (min-width: 1200px) {
  .video-services {
    width: 600px !important;
  }
}

/* Sección 3 */

.seccion-3 {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

@media (max-width: 1400px) {
  .seccion-3 {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1400px) {
  .seccion-3 {
    width: 100% !important;
    height: 100% !important;
  }
}

.title-ourwork {
  color: #2d2d2d;
  font-family: "Averta";
  font-size: 80px;
  text-align: center;
  padding-top: 40px;
}

@media (max-width: 575.98px) {
  .title-ourwork {
    font-size: 60px !important;
  }
}

.text-ourwork {
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

@media (min-width: 575.98px) {
  .text-ourwork {
    width: 500px !important;
  }
}

@media (min-width: 992px) {
  .text-ourwork {
    width: 800px !important;
  }
}

@media (min-width: 1400px) {
  .text-ourwork {
    width: 700px !important;
  }
}

.vinix-carousel {
  width: 500px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .vinix-carousel {
    width: 95% !important;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .vinix-carousel {
    width: 700px !important;
    padding-bottom: 80px;
  }
}

@media (min-width: 1400px) {
  .vinix-carousel {
    width: 700px !important;
    padding-left: 100px !important;
  }
}

/* About */

.title-vmc {
  color: #f4d178;
  font-family: "Averta";
  font-size: 80px;
}

/* Seccion 1 */

.section-1-about {
  background: rgb(235, 0, 0);
  background: radial-gradient(
    circle,
    rgba(235, 0, 0, 1) 0%,
    rgba(128, 0, 0, 1) 100%
  );
  height: auto;
  width: 100%;
  padding-bottom: 60px;
}

.title-vinixcode-about {
  padding-top: 70px;
}

.text-vinixcode {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 95%;
}

@media (min-width: 1200px) {
  .text-vinixcode {
    width: 700px;
  }
}

@media (min-width: 1400px) {
  .text-vinixcode {
    width: 800px;
  }
}

.we-are-experts {
  color: white;
  font-family: "Averta";
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.we-are-experts-title {
  color: white;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.about-icons {
  width: 70px;
}

@media (max-width: 576px) {
  .about-icons {
    width: 70px;
  }
}

@media (max-width: 768px) {
  .about-icons {
    width: 80px;
  }
}

@media (min-width: 992px) {
  .about-icons {
    width: 150px;
    margin-bottom: 50px;
  }
}

.design-icon {
  margin-right: 50px;
  margin-left: 50px;
}

.icons-about-group {
  margin: 30px;
}

/* Seccion 2 */

.video-mission {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 575.98px) {
  .video-mission {
    width: 600px !important;
  }
}

@media (min-width: 992px) {
  .video-mission {
    width: 600px !important;
    padding: 40px;
  }
}

@media (min-width: 1400px) {
  .video-mission {
    width: 600px !important;
  }
}

.seccion-2-about {
  background-color: black;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .seccion-2-about {
    width: 100% !important;
    height: auto !important;
  }
}

.text-vmc {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 600px;
}

.text-mivico {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 90%;
}

@media (min-width: 575.98px) {
  .text-mivico {
    width: 600px !important;
  }
}

@media (min-width: 992px) {
  .text-mivico {
    width: 450px !important;
  }
}

@media (min-width: 1400px) {
  .text-mivico {
    width: 600px !important;
  }
}

.title-mivico {
  color: #f4d178;
  font-family: "Averta";
  font-size: 40px;
  margin-top: 50px;
}

@media (min-width: 575.98px) {
  .title-mivico {
    font-size: 50px !important;
  }
}

@media (min-width: 720px) {
  .title-mivico {
    font-size: 70px !important;
  }
}

@media (min-width: 960px) {
  .title-mivico {
    font-size: 60px !important;
    text-align: left;
  }
}

@media (min-width: 1400px) {
  .title-mivico {
    font-size: 80px !important;
    text-align: left;
  }
}

.values-list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 50px;
}

@media (min-width: 576px) {
  .values-list {
    margin-left: 140px;
  }
}

@media (min-width: 768px) {
  .values-list {
    margin-left: 0px !important;
  }
}

/* Seccion 3 */

.seccion-3-about {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .seccion-3-about {
    height: 100% !important;
  }
}

.title-aboutus {
  color: #2d2d2d;
  font-family: "Averta";
  font-size: 50px;
}

@media (min-width: 575.98px) {
  .title-aboutus {
    font-size: 80px !important;
  }
}

.text-aboutus {
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  width: 90%;
}

@media (min-width: 575.98px) {
  .text-aboutus {
    width: 500px !important;
  }
}

@media (min-width: 720px) {
  .text-aboutus {
    width: 650px !important;
  }
}

@media (min-width: 960px) {
  .text-aboutus {
    width: 900px !important;
  }
}

.videos-banderas {
  display: flex;
  flex-flow: column;
}

.flags {
  width: 300px;
}

/* Team */

.main-team {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-team h1 {
  text-align: center;
  padding: 30px;
}

.text-main-team {
  font-family: "Averta";
  font-size: 20px;
  padding: 80px;
  z-index: 1;
}

@media (max-width: 768px) {
  .text-main-team {
    font-size: 20px !important;
  }
}

@media (max-width: 992px) {
  .text-main-team {
    font-size: 50px !important;
  }
}

@media (min-width: 992px) {
  .text-main-team {
    font-size: 80px !important;
  }
}

.our-people {
  font-family: "Averta";
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0px;
  padding-top: 80px;
}

.text-our-people {
  font-size: 50px;
}

@media (min-width: 768px) {
  .text-our-people {
    font-size: 60px !important;
  }
}

.img-profile {
  width: 280px;
  margin: 10px;
}

@media (min-width: 992px) {
  .img-profile {
    width: 200px;
  }
}

@media (min-width: 1400px) {
  .img-profile {
    width: 300px;
    margin-top: 200px !important;
  }
}
.names-profiles {
  font-family: "Averta";
  color: #f4d178;
  margin-top: 15px;
}

.team-position {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  flex-flow: column;
}

@media (max-width: 575.98px) {
  .team-position {
    font-size: 15px !important;
  }
}

@media (min-width: 992px) {
  .team-position {
    font-size: 18px !important;
    margin-bottom: 100px;
  }
}

.position {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  flex-flow: column;
}

@media (max-width: 575.98px) {
  .position {
    font-size: 15px !important;
  }
}

@media (min-width: 992px) {
  .position {
    font-size: 18px !important;
  }
}

.section-1-team {
  background-color: black;
  height: auto;
  width: 100%;
  flex-flow: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .section-1-team {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1400px) {
  .section-1-team {
    width: 100% !important;
    height: 100% !important;
  }
}

.profile {
  align-self: flex-start;
  margin-top: 20px;
}

/* Perfiles */

.text-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
}

.image-profile {
  width: 600px;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 991.98px) {
  .image-profile {
    width: 50% !important;
  }
}

@media (min-width: 991.98px) {
  .image-profile {
    width: 500px !important;
  }
}

@media (min-width: 1400px) {
  .image-profile {
    width: 600px !important;
  }
}

.names {
  color: #f4d178;
  font-family: "Averta";
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

@media (max-width: 991.98px) {
  .names {
    font-size: 35px !important;
  }
}

@media (min-width: 1200px) {
  .names {
    margin-top: 50px !important;
  }
}

@media (min-width: 1400px) {
  .names {
    margin-top: 0px !important;
  }
}

.description-profile {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 90%;
}

@media (min-width: 575.98px) {
  .description-profile {
    width: 700px !important;
  }
}

@media (min-width: 1200px) {
  .description-profile {
    width: 500px !important;
    margin-bottom: 100px;
  }
}

@media (min-width: 1400px) {
  .description-profile {
    width: 500px !important;
  }
}

@media (min-width: 1400px) {
  .description-profile {
    width: 700px !important;
  }
}

.group-profile {
  background: rgb(147, 0, 0);
  background: radial-gradient(
    circle,
    rgba(147, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

@media (max-width: 1400px) {
  .group-profile {
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1400px) {
  .group-profile {
    width: 100% !important;
    height: 100% !important;
  }
}

.section-members {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* contact */

.vinix-form {
  width: 300px;
}

@media (min-width: 575.98px) {
  .vinix-form {
    width: 600px !important;
  }
}

.vinix-form input {
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
}

.vinix-form textarea {
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
}

.vinix-form button {
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  color: white;
}

.vinix-form ::placeholder {
  color: white;
}

.page-contact {
  background: rgb(235, 0, 0);
  background: radial-gradient(
    circle,
    rgba(235, 0, 0, 1) 0%,
    rgba(128, 0, 0, 1) 100%
  );
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1400px) {
  .page-contact {
    height: 100% !important;
  }
}

.section-contact {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.title-contact {
  color: white;
  font-family: "Averta";
  font-size: 40px;
  display: flex;
}

@media (min-width: 575.98px) {
  .title-contact {
    font-size: 80px !important;
  }
}

.text-contact {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 10px;
}

@media (min-width: 575.98px) {
  .text-contact {
    width: 500px !important;
  }
}

textarea[type]:focus,
input[type]:focus {
  border-color: transparent;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(85, 65, 40, 0.6);
  outline: 0 none;
}

/* footer */

footer {
  padding: 50px;
  border-top: 5px solid #f4d178;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logo {
  width: 230px;
  transition-duration: 1s;
  transition-property: all;
}

.footer-logo:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.texto-menu-footer {
  font-family: "Averta";
  font-size: 40px;
  line-height: 5px;
  color: #2d2d2d;
  margin: 40px;
  text-align: center;
}

.footer a {
  text-decoration: none !important;
}

.texto-menu-footer:hover {
  color: rgb(255, 196, 0);
}

.sas {
  font-family: "Averta";
}

.footer-text {
  text-align: center;
  font-size: 15px;
}

.footer-icons {
  width: 30px;
  margin-bottom: 10px;
}

.address {
  display: flex;
  flex-flow: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}
