/* Fonts */

@font-face {
  font-family: "coolvetica";
  src: url("fonts/Coolvetica.ttf");
}

@font-face {
  font-family: "coolvetica-light";
  src: url("fonts/CoolveticaLt-Regular.otf");
}

@font-face {
  font-family: "Averta";
  src: url("fonts/Averta-Bold.ttf");
}

/* Body */

.principal_navbar {
  font-family: "coolvetica-light";
}

html,
body {
  height: 100%;
}

.logoheader {
  width: 150px;
}

@media (max-width: 575.98px) {
  .img-logo {
    width: 150px;
  }
}

.logo-principal {
  width: 150px;
  height: auto;
  margin-left: 50px;
}

.menu-fijo {
  width: 30px;
  height: auto;
  margin-right: 50px;
  margin-left: 60px;
}

/* Menú Principal */

.menu-principal {
  background-color: white;
  height: 100%;
  width: 85%;
  float: right;
  box-shadow: #2d2d2d 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-principal a {
  color: #2d2d2d;
  text-decoration: none !important;
}
.menu-principal a:hover {
  color: rgb(255, 196, 0);
}

.group-menu {
  display: flex;
  align-items: center;
  flex-flow: column;
  align-items: flex-start;
}

.texto-menu {
  font-family: "Averta";
  font-size: 100px;
}

.group-icons {
  display: flex;
}

.icons-menu {
  width: 30px;
  height: 30px;
  display: flex;
}

.gruop-direction {
  display: flex;
  flex-flow: column;
}

.direction {
  width: 100%;
  font-family: "coolvetica-light";
}

.sas {
  font-family: "Averta";
}

/* Sección 1 */

.seccion_1 {
  background: rgb(75, 75, 75);
  background: radial-gradient(
    circle,
    rgba(75, 75, 75, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen_inicial {
  width: 800px;
  height: auto;
  margin: 30px;
}

.logo-vinix {
  position: fixed;
  top: 48.5vh;
  left: -1.3vw;
  width: 7.14286%;
  padding-right: 16px;
  z-index: 100;
}

.menu-vinix {
  width: 40px;
  height: 18px;
  position: fixed;
  top: 48vh;
  right: 3.7vw;
  z-index: 110;
}
/* Sección 2 */

.seccion_2 {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-service {
  width: 400px;
  height: 500px;
  margin: 80px;
}

.title-services {
  color: #f4d178;
  font-family: "Averta";
  font-size: 80px;
  margin-bottom: 30px;
}

.text-services {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 340px;
  margin-right: 150px;
}

.video-services {
  width: 600px;
}

/* Sección 3 */

.seccion_3 {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-ourwork {
  color: #2d2d2d;
  font-family: "Averta";
  font-size: 80px;
}

.text-ourwork {
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 400px;
  margin-right: 100px;
}

.carrusel {
  width: 700px;
}

/* About */

.title_vmc {
  color: #f4d178;
  font-family: "Averta";
  font-size: 80px;
}

/* Seccion 1 */

.seccion_1_about {
  background: rgb(145, 0, 0);
  background: radial-gradient(
    circle,
    rgba(145, 0, 0, 1) 0%,
    rgba(145, 0, 0, 1) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.text_vinixcode {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 600px;
}

/* Seccion 2 */

.video_mision {
  width: 600px;
}

.seccion_2_about {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text_vmc {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 600px;
}

.text_mivico {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 500px;
}

.title_mivico {
  color: #f4d178;
  font-family: "Averta";
  font-size: 60px;
  margin-top: 50px;
}

/* Seccion 3 */

.seccion_3_about {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title_aboutus {
  color: #2d2d2d;
  font-family: "Averta";
  font-size: 80px;
}

.text_aboutus {
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  width: 600px;
}

.videos-banderas {
  display: flex;
  flex-flow: column;
}

/* Team */

.img-profile {
  width: 200px;
  margin: 10px;
}

.names-profiles {
  font-family: "Averta";
  color: #f4d178;
  margin-top: 15px;
}

.position {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
}

.seccion_1_team {
  background: rgb(75, 75, 75);
  background: radial-gradient(
    circle,
    rgba(75, 75, 75, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  align-self: flex-start;
  margin-top: 350px;
}

/* Perfiles */

.names {
  color: #f4d178;
  font-family: "Averta";
  font-size: 50px;
}

.description-profile {
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 700px;
}

.group-profile {
  background: rgb(75, 75, 75);
  background: radial-gradient(
    circle,
    rgba(75, 75, 75, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Juan García */

.seccion_members {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

/* contact */

.formulario {
  width: 500px;
}

.formulario input {
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
}

.formulario textarea {
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
}

.formulario button {
  background-color: transparent;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  color: white;
}

.formulario ::placeholder {
  color: white;
}

.page-contact {
  background: rgb(255, 206, 45);
  background: radial-gradient(
    circle,
    rgb(255, 206, 45) 0%,
    rgb(255, 196, 0) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion_contact {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.title-contact {
  color: white;
  font-family: "Averta";
  font-size: 80px;
}

.text-contact {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 500px;
}

/* footer */

.footer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgb(182, 139, 0) 0px 0px 2px 1px;
}

.texto-menu-footer {
  font-family: "Averta";
  font-size: 40px;
  line-height: 30px;
  color: #2d2d2d;
}
.footer a {
  text-decoration: none !important;
}

.texto-menu-footer:hover {
  color: rgb(255, 196, 0);
}
